<% unless @agree %>
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">利用開始前に</h5>
        </div>
        <div class="modal-body">
          <%= render 'shared/terms_of_use' %>
        </div>
        <div class="form-check m-3">
          <input class="form-check-input" type="checkbox" value="" id="beforeUseCheckBox">
            <label class="form-check-label " for="beforeUseCheckBox">
              注意事項、利用規約に了承の上で利用を始める
            </label>
        </div>
        <div class="modal-footer">
          <%= link_to '利用をやめる', 'https://www.yahoo.co.jp/',class: "btn btn-quit", target: "_self" %>
          <div class="cursor-not-allowed">
            <button type="button" class="btn btn-agree" data-bs-dismiss="modal" id="modalButton" disabled>利用を始める</button>
          </div>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <p>さぷリカバーは健康診断の記録を入れることで、<br class="d-lg-none">あなたにあったサプリをおすすめしてくれます。</p>
    <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 mt-3">
      <%= form_with model:@user, local: true do |f| %>
        <div class="row">
          <div class="col-sm-9 mb-3">
            <div class="row align-items-center">
              <div class="col-sm-2">
                <%= f.label :name, class: "form-label" %>
              </div>
              <div class="col-sm-10">
                <%= f.text_field :name, class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="col-sm-3 mb-3">
            <div class="d-grid gap-2 d-sm-block">
              <%= f.submit '先へすすむ',class: 'btn btn-signup' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= javascript_pack_tag 'custom_modal' %>

<% else %>
  <div class="row">
    <p>さぷリカバーは健康診断の記録を入れることで、<br class="d-lg-none">あなたにあったサプリをおすすめしてくれます。</p>
    <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 mt-3">
      <%= form_with model:@user, local: true do |f| %>
        <div class="row">
          <div class="col-sm-9 mb-3">
            <div class="row align-items-center">
              <div class="col-sm-2">
                <%= f.label :name, class: "form-label" %>
              </div>
              <div class="col-sm-10">
                <%= f.text_field :name, class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="col-sm-3 mb-3">
            <div class="d-grid gap-2 d-sm-block">
              <%= f.submit '先へすすむ',class: 'btn btn-signup' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>