
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  仮モーダルボタン
</button>
<br>
<br>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">利用開始前に</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render 'shared/terms_of_use' %>
      </div>
      <div class="form-check m-3">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label " for="flexCheckDefault">
            注意事項、利用規約に了承の上で利用を始める
          </label>
      </div>
      <div class="modal-footer">
        <%= link_to '利用をやめる', 'https://www.yahoo.co.jp/',class: "btn btn-secondary", target: "_self" %>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Understood</button>
      </div>
    </div>
  </div>
</div>

さぷリカバーは健康診断の記録を入れることで、
あなたにあったサプリをおすすめしてくれます。

<%= render 'shared/error_message', object: @user %>

<%= form_with model:@user, local: true do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit '先へすすむ',class: 'btn btn-primary' %>
<% end %>